<html lang="en">
	<head>
		<title>admin</title>
		<link rel="stylesheet" href="../static/styles/style.css">
	</head>

	<body bgcolor="#e6ffee">
		<div class="one">
			<div class="two">
				<h1>Side Bar</h1>
				<ul>
					<li class="active"><a href="{{url_for('index')}}">Index</a></li>
					<li><a href="{{url_for('display')}}">Display</a></li>
					
					<li><a href="{{url_for('update')}}">Update</a></li>
					
					<li><a href="{{url_for('logout')}}">Log out</a></li>
				</ul>
			</div>
			<div class="content" align="center">
				<div class="topbar">
					<h2>Welcome!! You are in admin Page  </h2>				 
				</div></br></br>
				<div class="contentbar">
					<div class="msg">{{ msg }}</div>
				</div>
				
			</div>
		</div>
		{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    
        <tr>
          <td>{{ account['password'] }}</td>
          <td>{{ user.age }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.email }}</td>
        </tr>
    
    </tbody>
  </table>
{% endblock %}


	</body>
</html>
