<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <header class="header">
      <div class="container">
        
        <div class="user">
          <div class="profile">
            <a href="{{ url_for('display') }}"><i class="material-icons icon-large">account_circle</i>Account</a>
          </div>
          <div class="cart">
            <a href="">
              <i class="material-icons">shopping_cart</i>
              
            </a>
          </div>
        </div>
      </div>
  </header>
    {% endblock %}
  </head>
  <body>


  </body>
</html>
