<!--Store this code in 'delete.html' file inside the 'templates' folder-->
<html lang="en">
	<head>
		<title>update</title>
		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body bgcolor="#e6ffee">
		<div class="one">
			<div class="two">
				<h1>Side Bar</h1>
				<ul>
					<li><a href="{{url_for('index')}}">Index</a></li>
					<li><a href="{{url_for('display')}}">Display</a></li>
					<li class="active"><a href="{{url_for('update')}}">Update</a></li>
					<li><a href="{{url_for('logout')}}">Log out</a></li>
				</ul>
			</div>
			<div class="content" align="center">
				<div class="topbar">
					<h2>Welcome!! You are in the Delete Page!! </h2>				 
				</div></br></br>
				<div class="contentbar">
				<h1>Fill Your Details to Update</h1></br>
			<form action="{{ url_for('delete') }}" method="post" autocomplete="off">
					<div class="msg">{{ msg }}</div>
					<input type="submit" class="btn" value="Delete">
			</form>				 
				</div>
				
			</div>
		</div>
	</body>
</html>
