<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/shipping.css') }}">
	
	<script src="{{ url_for('static', filename='scripts/shipping.js') }}"></script>
	<title>Add Shipping Information</title>
</head>
<body>
	<div class="container2">
		<div class="form-container">
		  <h1>Add Shipping Information</h1>
		  <form method="POST" action="/shipping">
			<label for="full_name">Full Name:</label>
			<input type="text" id="full_name" name="full_name" required><br>
	
			<label for="street_address">Street Address:</label>
			<input type="text" id="street_address" name="street_address" required><br>
	
			<label for="city">City:</label>
			<input type="text" id="city" name="city" required><br>
	
			<label for="state_province">State/Province:</label>
			<input type="text" id="state_province" name="state_province" required><br>
	
			<label for="postal_code">Postal Code:</label>
			<input type="text" id="postal_code" name="postal_code" required><br>
	
			<label for="country">Country:</label>
			<input type="text" id="country" name="country" required><br>
	
			<input type="submit" value="Submit">
		  </form>
		  <form action="{{ url_for('checkout') }}" method="POST">
			<button type="submit">Checkout</button>
		  </form>
		  <li ><a  href="{{url_for('index')}}">Keep Shopping</a></li>
		</div>
	
		<div class="info-container">
		  <h2>Existing Shipping Information</h2>
		  <table>
			<tr>
			  <th>Full Name</th>
			  <th>Street Address</th>
			  <th>City</th>
			  <th>State/Province</th>
			  <th>Postal Code</th>
			  <th>Country</th>
			  <th>Delete</th>
			</tr>
			{% for ship in shipping_info %}
			<tr>
			  <td>{{ ship['Full_Name'] }}</td>
			  <td>{{ ship['Street_Address'] }}</td>
			  <td>{{ ship['City'] }}</td>
			  <td>{{ ship['State_Province'] }}</td>
			  <td>{{ ship['Postal_Code'] }}</td>
			  <td>{{ ship['Country'] }}</td>
			  <td>
				<form method="POST" action="/shipping">
				  <input type="hidden" name="delete_shipping" value="">
				  <input type="submit" value="Delete">
				</form>
			  </td>
			</tr>
			{% endfor %}
		  </table>
		</div>
	</div>
	
</body>
</html>