/*Store this code in 'style.css' file inside the 'static' folder*/







.bg {
	/* The image used */
	background-image: url("/static/images/main_back.jpg");
  
	/* Full height */
	height: 100%;
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

  .table {
    border-collapse: collapse;
    width: 100%;
}
 
.th, td {
    border: 5px solid #0f0101;
    text-align: center;
    padding: 2px;
}
 
.expandable-row {
    display: none;
}
 
.expandable-row td {
    padding: 0;
}
 
.expandable-row table {
    width: 100%;
}
 
.tr:hover .expandable-row {
    display: table-row;
}
.section {
    margin-bottom: 20px;
    text-align: center;
}
.section button {
    margin-bottom: 10px;
    text-align: center;
}
.section table {
    display: block;
    border-collapse: collapse;
    margin-top: 10px;
    text-align: center;
    align-items: center;
}
 
.title {
    text-align: center;
}
 
.collapsibleClass {
    background-color: #9a9a9a;
    color: white;
    cursor: pointer;
    padding: 18px;
    border: none;
    outline: none;
    font-size: x-large;
    width: 50%;
    text-align: center;
    margin-left: 25px;
  }
 
 
.formClass {
    padding-top: 15px;
}
 
.contentClass {
    padding: 0 18px;
    overflow: hidden;
    background-color: #eae7de;
    width: 50%;
    margin-left: 25px;
}
 
.submitClass{
background-color: DodgerBlue;
border: none;
color: white;
padding: 12px 16px;
font-size: 16px;
}
 
.submitClass:hover {
    background-color: RoyalBlue;
  }
 
 
  .customerSellerColumnClass {
    float: left;
    width: 50%;
    padding: 10px;
    border-style: double;
    height: 600px;
  }
 
  .customerSellerRowClass:after {
    content: "";
    display: table;
    clear: both;
  }
 
 
 .sectionClass{
    /*background: antiquewhite;
    height: 500px;*/
}
.horizontal {
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
}
.field {
    margin-right: 20px; /* Add some space between fields */
}
 
.pagination {
    display: inline-block;
  }


  .tableButtonClass {
    font-size: smaller; 
    background-color: #262928;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    cursor: pointer;
    border-radius: 12px;
  }